DATABASE_URL=https://aiven.io/postgresql
GEMINI_API_KEY=https://aistudio.google.com/app/api-keys
GEMINI_MODEL=https://ai.google.dev/gemini-api/docs/models
STICKER_FILE_ID=CAACAgIAAxkBAAIdeWi1SLWihwZEeyFOk9YM4-mBWJqxAAJOAgACVp29CjD-a22BMgNvHgQ
