aiorun
asyncpg
git+https://github.com/pytgcalls/pytgcalls
git+https://github.com/TelegramPlayground/pyrogram
git+https://github.com/TelegramPlayground/pyrogram-tgcrypto
httpx
python-dotenv
telegraph[aio]
uvloop
